:host {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
}

.toolbar {
  background-color: #9deffa;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-header {
  text-align: center;
  flex: 1 1 auto;
  font-size: 40px;
  font-family: Lucida Handwriting;
  font-weight: bold;
  margin: revert;
}

.event-card {
  max-width: 400px;
  margin: 10px;
  cursor: pointer;
  width: 1000px;
}

.event-header-image {
  background-size: cover;
}
.event-container {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.event-container-right {
  width: 300px;
  border: 1px solid green;
  padding: 50px;
  width: 400px;
  height: 350px;
  display: left;
  background-image: url('../../../assets/images/wo.jfif');
}

.image-container {
  padding: 10px;
}

.image-view {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border: 1px solid rgb(216, 213, 213);
  border-radius: 5px;
}

.event-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.commnet-name,
.ev-details{
  font-weight: bold;
  padding-top: 10px;
}
.event-comments {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.attendees-container {
  //flex: 1 0 20%;
  padding:20px;
  box-sizing: border-box;
}
