<div class="search-bar" [formGroup]="searchgrp">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput type="text" formControlName="keyword">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select formControlName="category">
      <mat-option value="one">Music</mat-option>
      <mat-option value="two">Art</mat-option>
      <mat-option value="two">Sport</mat-option>
    </mat-select>
  </mat-form-field>
  <ng-container formGroupName="address">
    <mat-form-field>
      <mat-label>State</mat-label>
      <input matInput type="text" formControlName="state">
    </mat-form-field>
    <mat-form-field>
      <mat-label>City</mat-label>
      <input matInput type="text" formControlName="city">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Zip</mat-label>
      <input matInput type="text" formControlName="zip">
    </mat-form-field>
  </ng-container>
  <button mat-icon-button color="primary" (click)="doSearch()">
    <mat-icon>search</mat-icon>
  </button>
</div>

<div class="event-container">
  <mat-card *ngFor="let ev of events$|async" class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" [style.background-image]="'url('+ev.image+')'"></div>
      <mat-card-title>{{ev.title}}</mat-card-title>
      <mat-card-subtitle>{{ev.name}}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="ev.image" alt="Photo of a Shiba Inu" />
    <mat-card-content>
      <div>
        {{ev.description}}
      </div>
      <div>ev.location</div>
    </mat-card-content>
    <mat-card-actions>
      <ex-button #btnJoin [text]="'Join'|isJoined:ev" [disabled]="false|isJoined:ev"
        (buttonClicked)="attend(ev._id,btnJoin)">
        <span>first value</span>
        <label>second value</label>
      </ex-button>

    </mat-card-actions>
  </mat-card>
</div>