.search-bar {
  display: flex;
  padding: 10px;
}

.search-bar ::ng-deep .mat-form-field {
  width: unset;
  margin-right: 10px;
}

.event-card {
  max-width: 400px;
  margin: 10px;
  cursor: pointer;
}

.event-header-image {
  background-size: cover;
}
.event-container {
  display: flex;
  flex-wrap: wrap;
}

.image-container {
  padding: 10px;
}

.check-box {
  padding-top: 22px;
}

.fill-space {
  flex: 1 1 auto;
}

.image-view {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border: 1px solid rgb(216, 213, 213);
  border-radius: 5px;
}
