<div class="search-bar" [formGroup]="searchgrp">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput type="text" formControlName="keyword">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select formControlName="category">
      <mat-option value="one">Music</mat-option>
      <mat-option value="two">Art</mat-option>
      <mat-option value="two">Sport</mat-option>
    </mat-select>
  </mat-form-field>
  <ng-container formGroupName="address">
    <mat-form-field>
      <mat-label>State</mat-label>
      <input matInput type="text" formControlName="state">
    </mat-form-field>
    <mat-form-field>
      <mat-label>City</mat-label>
      <input matInput type="text" formControlName="city">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Zip</mat-label>
      <input matInput type="text" formControlName="zip">
    </mat-form-field>
  </ng-container>
  <button mat-icon-button color="primary" (click)="doSearch()" class="search">
    <mat-icon>search</mat-icon>
  </button>
  <span class="fill-space"></span>
  <mat-checkbox (change)="doSearch()" class="check-box" formControlName="joined">Subscribed Events</mat-checkbox>

</div>

<div class="event-container">
  <mat-card *ngFor="let ev of events$|async" class="event-card">
    <mat-card-header (click)="onEventClick(ev._id)">
      <div mat-card-avatar class="event-header-image" [style.background-image]="'url('+(ev.image|fromapi)+')'"></div>
      <mat-card-title>{{ev.title}}</mat-card-title>
      <mat-card-subtitle>{{ev.name}}</mat-card-subtitle>
      <ng-container *ngIf="ev.isJoind">
        <span class="fill-space"></span>
        <mat-icon class="join-icon">done</mat-icon>
      </ng-container>
    </mat-card-header>
    <div class="image-container">
      <img mat-card-image [src]="ev.image|fromapi" class="image-view" (click)="onEventClick(ev._id)" />
    </div>
    <mat-card-content (click)="onEventClick(ev._id)">
      <div>{{ev.description}}</div>
      <div class="ev-details">
        <div>{{ev.address.city}}, {{ev.address.state}}</div>
        <div>{{ev.date|date}} - {{ev.time}}</div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="attend(ev)">{{!ev.isJoind?'Join':'Leave'}}</button>
    </mat-card-actions>
  </mat-card>
</div>